<!DOCTYPE html>
<html>
<head>
  <title>Info Message</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <style type="text/css">
    
    body {
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
    }

    .widths {
      width: 70%;
      height: 100%;
      margin: 70px auto;
      background-color: white;
      padding: 0 60px;
      border-radius: 5px;
    }

    p {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      color: black;
      text-decoration: none;
    }

    table {
      width: 100%;
    }

    .logo {
      width:40px;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      margin-top: 50px;
    }

    .top-space {
      margin-top: 30px;
    }

    .message-container {
      margin-top: 30px;
      margin-bottom: 70px;
    }

    .call_hey {
      text-align: center;
      font-size: 2em;
    }

    .box {
      padding: 30px;
      border-radius: 5px;
      width: 80%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin: 30px auto;
      line-height: 25px;
    }

  </style>

</head>
<body>
  <div class="widths">
    <table>
      <thead>
        <tr>
          <th>
            <%= image_tag attachments["ideamanufactorylogo.png"].url, class: "logo" -%>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="top-space call_hey"> Hey <%= "#{@user.first_name}" %>,</p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="box">
              <p>I'd like to tell you a little story about this store. <br>
              There were a few people out there creating stuff, thinking about what they worked on and reconfiguring everything they did in the past just to make their customers happy. <br>
              They nearly forgot what it is to succeed, how it feels to know that there will be a happy end in life.
              But then - not long ago - there was a really special moment by <%= "#{@user.created_at}" %> when a customer knocked on their door and they immediately recognized that everything will be fine.
              <br>
              My dear friend <%= "#{@user.first_name}" %>...That customer was <span style="font-style: italic">you</span>.</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>I totally apreciate that you joined our jurney of creating something beautifull. Thank you so much and - of course - <a href="https://www.tape.tv/bon-jovi/videos/have-a-nice-day-1">have a nice day!</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="top-space">
              Sincerely yours <br>
              Bastian 
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>