<footer>
  <div class="footer--inner-frame">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 row-columns">
        <p>This site was build and designed by <a href="http://twitter.bastiankroggel.com">Bastian Kroggel</a> with the  help of <a href="https://careerfoundry.com">Careerfoundry</a> and their great online webdevelopement course.</p>
        <div class="contact-links">  
          <div>
            <a href="https://facebook.com/bastian.kroggel"><span class="fa fa-twitter"></span> twitter</a>
          </div>
          <div>
            <a href="https://github.com/bkroggel"><span class="fa fa-github"></span> github</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-right-frame row-columns">
        <div class="ideamanufactorylogo">
        </div>
        
      </div>

    </div>
    <div class="row">
      <div class="copyright">
        <p>&copy; 2015 | bastian kroggel</p>
      </div>
    </div>
    
  </div>
</footer>