// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**
 * Description: Short description.
 * Version: 0.0.1
 * Last update: 2015/07/xx
 * Author: Bastian Kroggel <username@gmail.com>
 *
 * Summary:
 *
 *  0. BASICS
 *    - 0.1. FONTS
 *    - 0.2. ELEMENTS
 *  1. HEADER
 *    - 1.1. APPLICATION HEADER
 *    - 1.2. STATIC SITE HEADER
 *
 *
 *  
 */

/* ==========================================================================
   0. BASICS
   ========================================================================== */
body {
  width: 100%;
}

img {
  margin-top: 30px;
}

/* 0.1. FONTS
   ========================================================================== */
h1,
h2,
p,
table,
a, {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 2em;
}

header h1,
header h2 {
  padding: 0;
}

header h1 {
  font-size: 5.5em;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
  font-weight: 400;
}

header h2 {
  font-size: 1em;
}

/* 0.2. ELEMENTS
   ========================================================================== */


/* ==========================================================================
   1.0 HEADER
   ========================================================================== */

/* 1.1 NAV
   ========================================================================== */
.navbar {
  background-color: rgb(41, 47, 53);
}

.navbar-nav {
  float: right;
}

nav li a {
  width: 100%;
  text-align: center;
}

.navbar-collapse>.navbar-nav {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .navbar-collapse>.navbar-nav {
    width: auto;
  }
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: rgb(37, 58, 78);
  color: white;
}

.navbar-default .navbar-brand {
  width: 200px;
}

.navbar-default .brand-back {
  width: 50px;
}

.search-frame {
  float: right;
  width: 100%;
  text-align: center;
}

.search-field-header {
  text-align: center;
  padding-right: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .search-field-header {
    text-align: right;
  }
}

.text-field-searchbox,
.text-field-searchbutton,
.mail-form {
  border: 1px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  width: 300px;
  outline: none;
}

.text-field-searchbutton {
  width: 100px;
}


/* 1.2 HEADER
   ========================================================================== */
header,
.site--header {
  margin: 30px 0;
}

/* ==========================================================================
   2.0 Landing Page
   ========================================================================== */
.carousel img {
  margin-top: 0;
}

/* ==========================================================================
   3.0 Contact Page
   ========================================================================== */
.mail-contact-formula {
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
}

.mail-form {
  color: rgb(41, 47, 53);
  border-color: rgb(41, 47, 53);
  width: 100%; 
}

.mail-form-text {
  height: 300px !important;
}

.submit-mail-button:hover {
  background-color: grey;
}

