<div class="width_frame">
  <h1>Editing Product</h1>

  <%= render 'form' %>


  <div class="btn-group-frame">
    <div class="btn-group" role="group">
      <%= link_to 'Show', @product, :class => "btn btn-default" %>
      <%= link_to 'Back', products_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>