<div class="width_frame">
  <% cache(cache_key_for_products) do %>
  <div class="recent-products-header">
    <p>products</p>
  </div>

  <div class="row">
  <% cache(p) do %>
    <%= render @products %>
  <% end %>
  </div>

  <div class="recent-products-header products-header-space">
    <p>add products</p>
  </div>  
  <%= link_to 'New Product', new_product_path, :class => "btn btn-default product_button" %>

  <% end %>
</div>

<%= render partial: "shared/footer" %>
